name: Laravel Tests (CI)

on:
  # Déclenchement lors d'un Push direct
  push:
    branches: 
      - develop
      - staging  # <-- Ajouté !
      - main
  
  # Déclenchement lors d'une Pull Request (Fusion)
  pull_request:
    branches: 
      - develop
      - staging  # <-- Ajouté !
      - main

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2' # Ou 8.4 selon ton projet
        extensions: mbstring, xml, ctype, iconv, intl, pdo_sqlite, dom, fileinfo
    
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Generate key
      run: php artisan key:generate

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Create SQLite Database
      run: |
        mkdir -p database
        touch database/database.sqlite

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test